# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Environment files
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# OS & Editor
.DS_Store
.idea/
.vscode/
*.log
